body {
    background-color: #081c15;
    font-family: Helvetica, sans-serif;
    margin: 10px;
}

#introduction{
    background-color: #d8f3dc;
    padding-top: 50 px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px;
    border: 10px ridge #52b788;
    border-radius: 10px;
}

h1 {
    font-family: Times New Roman, serif;
    text-align: center;
    font-size: 100px;
    color: #52b788;
}

h2 {
    font-size: 50px;
    font-family: Times New Roman, serif;
    text-align: center;
    color: #f7c44d;
}

h3 {
    font-size: 25px;
    font-family: Times New Roman, serif;
    color: #52b788;
}

p {
    font-size: 20px;
color: #52b788;
}

ul {
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    color: #52b788;
    list-style-position: inside;
}

.highlight {
    background-color: #d8f3dc;
    padding: 15px;
    border-radius: 10 px;
    border: 4px double #f7c44d;
    text-align: center;
}

a{
    text-decoration: underline;
    color: #f7c44d;
}

img {
    border-radius: 50%;
    border: 5px solid #f7c44d;
}

u {
    color:#f7c44d
}