body {
    background-color: #081c15;
    font-family: Helvetica, sans-serif;
    margin: 10px;
}

h1 {
    font-family: Times New Roman, serif;
    text-align: center;
    font-size: 100px;
    color: #f7c44d;
}

h2 {
    font-size: 40px;
    font-family: Times New Roman, serif;
    text-align: center;
    color: #b7e4c7;
}

h3 {
    font-size: 25px;
    font-family: Times New Roman, serif;
    color: #52b788;
}

p {
    font-size: 20px;
color: #b7e4c7;
}

ul {
    font-size: 20px;
    color: #b7e4c7;
}

a{
    text-decoration: underline;
    color: #f7c44d;
}

img {
    border-radius: 50%;
    border: 5px solid #f7c44d;
}

u {
    color:#f7c44d
}